scheduler:
  revoked-token-cleanup:
    cron: '0 15 10 15 * ?'
  expired-token-cleanup:
    cron: '0 15 10 15 * ?'

jwt:
  private-key: file:/app/config/private_key.pem
  public-key: file:/app/config/public_key.pem
  expiration: 86400000
  refresh-expiration: 604800000

management:
  endpoints:
    web:
      exposure:
        include: health,info

spring:
  application:
    name: backend

  config:
    import: optional:file:.env[.properties]

  datasource:
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    url: jdbc:postgresql://db:5432/${POSTGRES_DB}
    driver-class-name: org.postgresql.Driver

  liquibase:
    enabled: true