services:
  backend:
    build:
      context: .
      dockerfile: services/backend/Dockerfile
    volumes:
      - ./secrets/backend/private_key.pem:/app/config/private_key.pem
      - ./secrets/backend/public_key.pem:/app/config/public_key.pem
    env_file:
      - .env
    ports:
      - '8080:8080'

  db:
    image: postgres:17.5-alpine3.22
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-myapp}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

volumes:
  postgres_data:
    driver: local